* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;

  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  //background: #f7d9c2;

  background: linear-gradient(-45deg, #f7d9c2, #f7f4c2, #e0f7c2, #c6f7c2);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

}

h1, h2{
  font-family: $font-family-serif;
  color: black;
}

header{


  p{
    font-size: 0.8rem;
    font-weight: lighter;
    color: #1b1b1b;
  }

  nav {
  
    ul{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      list-style: none;
      margin-bottom: 2rem;
      margin-top: 2rem;
      height:150px;
      a{
        color: #000;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        border: 1px solid #000;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;

        &:hover{
          background-color: #000;
          color: #fff;
        }
      }

      @media(min-width:$mqMinWidth ) {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;  
        height: auto;

        a{
          color: #000;
          text-decoration: none;
          font-weight: bold;
          font-size: 1.2rem;
          padding: 0.5rem 1rem;
          border: 1px solid #000;
          border-radius: 5px;
          transition: all 0.2s ease-in-out;}
  
      }
  }
  }

}

aside{
  position: sticky;
  top: 50%;
  left: 100%;
  width: 25%;
  text-align: right;
  font-size: large;
  font-weight: bold;
  font-family: $font-family-serif;

  ul{
    list-style-type: none;
    a{
      text-decoration: none;
      color: #000;
    }
    .top{
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font: var(--fa-font-solid);
      content: "\f102";
    }
  }
  
}

article{
  width: 82%;

  p{
    text-align: justify;
  }

  .card-bot{
    width: 60%;
    height: auto;
    margin: 5% 5%;
    text-align: center;
  
  }

  figcaption{
    padding-left: 10%;
  }


}

.list-siam {

  list-style-type: none;

  li::before{
    @include list-type;
    
  
  }
}

.gallery {
	display: flex;
	padding: 2px;
	transition: .3s;
	
	&:hover &__image {
		filter: grayscale(1);
	}
	
	&__column {
		display: flex;
		flex-direction: column;
		width: 25%;
	}
	
	&__link {
		margin: 2px;
		overflow: hidden;
		
		&:hover {
			.gallery__image {
				filter: grayscale(0);
			}
			
			.gallery__caption {
				opacity: 1;
			}
		}
	}
	
	&__thumb {
		position: relative;
	}
	
	&__image {
		display: block;
		width: 100%;
		transition: .3s;
		
		&:hover {
			transform: scale(1.1);
		}
	}
	
	&__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px 15px 15px;
		width: 100%;
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		color: white;
		opacity: 0;
		background: linear-gradient(0deg, #00000080 0%, #ffffff00 100%);
		transition: .3s;
	}
}

blockquote{
  font-size: x-large;
  font-weight: 500;
  font-family: $font-family-serif;
  font-style: normal;

}

footer{
  text-align: center;

  padding-top: 2%;
  padding-bottom: 2%;

  address{
    a{
      text-decoration: none;
    }
  }

  nav{
  
    ol{
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      list-style-type: upper-roman;

      li{
         a:active, a:hover, a:visited{
        text-decoration: none;
        color: #000;

          }

      }
    }

  }

  .brands{
    i{
      margin: 0 0 2rem 2rem;
    }
  }
}