<footer class="uoc-footer">
    <address>
        <a href="">&copy; Gatopedia</a> Por: Jorge A. Lopez M.
    </address>
    <p><i>Master fullstack EIP </i> </p>
    <nav>
        <ol>
            <li><a href="#siames">Siames</a></li>
            <li><a href="#persa">Persa</a></li>
            <li><a href="#bengala">Bengala</a></li>
            <li><a href="#azul">Azul ruso</a></li>
        </ol>
    </nav>

    <div class="brands">
        <i class="fa-brands fa-2x fa-facebook"></i>
        <i class="fa-brands fa-2x fa-twitter"></i>
        <i class="fa-brands fa-2x fa-instagram"></i>
    </div>
</footer>